<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<html ng-app="project">
<!--<![endif]-->
    
<head>
<meta charset="utf-8">
<meta name="description" content="description" />
<meta name="keywords" content="keywords"/>
<meta name="author" content="BRKOR" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>Steven Siddi</title>

<!-- google web font-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

<!-- style sheets-->
<link rel="stylesheet" media="all" href="css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" media="all" href="css/custom.css" type="text/css"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


<!-- main jquery libraries / others are at the bottom-->
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>

<!-- Lib angular et controlers -->
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/CVCtrl.js" type="text/javascript"></script>
<script src="js/angular-sanitize.min.js"></script>

</head>
<body ng-controller="CVCtrl">

<!-- Settings -->
<!--
<div class="settings">
    <span class="glyphicon glyphicon-cog"></span>
    <a class="btn active top-white">White theme</a>   
    <a class="btn top-dark">Dark theme</a>
</div>-->                                              
<!-- end Settings -->

<!-- Top icons -->
<a class="top-menu hidden-xs hidden-sm" data-toggle="tooltip" data-placement="top" title="{{tab_lang.cartouche.toggle_menu}}"><span class="glyphicon glyphicon-th-list"></span></a>
<a href="./{{tab_lang.cartouche.CV}}.pdf" target="navigateur" class="top-download-resume hidden-xs hidden-sm" data-toggle="tooltip" data-placement="top" title="{{tab_lang.cartouche.dl_cv}}"><span class="glyphicon glyphicon-cloud-download"></span></a>
<a class="top-contact hidden-xs hidden-sm" data-toggle="tooltip" data-placement="top" title="{{tab_lang.cartouche.contact}}"><span class="glyphicon glyphicon-send"></span></a>
<!-- end Top icons -->



<!-- Navigation -->
<nav id="spy" class="spy hidden-sm hidden-xs">
    <ul>
        <li class="active"><a href="#work-experience" ng-bind-html="tab_lang.experience_pro.nav_title"></a></li>
        <li><a href="#education" ng-bind-html="tab_lang.forma_certif.nav_title"></a></li>
        <li><a href="#professional-skills" ng-bind-html="tab_lang.comp.nav_title"></a></li>
        <li><a href="#personal-skills" ng-bind-html="tab_lang.trav_pro.nav_title"></a></li>
        <li><a href="#contact" ng-bind-html="tab_lang.contact.nav_title"> </a></li>
    </ul>
</nav>
<!-- end Navigation -->

<!-- Langues -->
<div id="langues">
    {{tab_lang.langue.title}} : 
    <img ng-click="langueFr()" src="./img/drap_fr.jpg">
    <img ng-click="langueEn()" src="./img/drap_en.jpg">
</div>

<!-- Navigation for small devices -->
<nav id="mini-nav" class="spy visible-sm visible-xs">
    <ul>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
                <li class="active"><a href="#work-experience">{{tab_lang.experience_pro.title}}</a></li>
                <li><a href="#education">{{tab_lang.forma_certif.title}}</a></li>
                <li><a href="#professional-skills">{{tab_lang.comp.title}}</a></li>
                <li><a href="#personal-skills">{{tab_lang.trav_pro.title}}</a></li>
                <li><a href="#contact">{{tab_lang.contact.title}}</a></li>
            </ul>
        </li>
      </ul>
</nav>
<!-- end Navigation for small devices -->

<!-- Header -->
<!--
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <img src="img/face.jpg" class="face" alt="">
                <hr class="empty">
                <p class="header-name">Steven Siddi</p>
                <p class="header-title">Etudiant et développeur Java/Web</p>
                <p class="header-subtitle">Bonjour, je m'appelle <b>Steven Siddi</b> et je suis étudiant à l'université de Nice-Sophia Antipolis en <b>Master 1 MIAGE</b>. Passionné d'informatique depuis mon enfance, ...</p>
            </div>
        </div>
    </div>
</header>
<!-- end Header -->

<div id="cartouche-header">
    <img src="img/face2.jpg" class="portrait">
    <div id="nom"><b>Steven SIDDI</b></div>
    <div id="poste"><i>{{tab_lang.cartouche.titre}}</i></div>
    </br>
    <a href="mailto:steven.siddi@gmail.com" target="navigateur">
    <i class="fa fa-envelope"></i> steven.siddi@gmail.com</a>
    </br></br></br>
    <a class="btn btn-large btn-primary btn-cartouche" href="http://fr.linkedin.com/pub/steven-siddi/40/323/a2" target="navigateur"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
	<a class="btn btn-large btn-primary btn-cartouche" href="./{{tab_lang.cartouche.CV}}.pdf" target="navigateur"><i class="glyphicon glyphicon-cloud-download"></i> {{tab_lang.cartouche.CV}}</a>
</div>
</br></br></br></br></br></br>

<!-- Profile --><!--
<section id="profile" class="profile activate">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                
                    <ul>
                        <li class="title"><span class="glyphicon glyphicon-user"></span>Profile</li>
                        <li>
                            <span class="note">Full name</span>
                            <p><strong>Mark William Connor</strong></p>
                        </li>
                        <li>
                            <span class="note">Born</span>
                            <p><strong>01 July 1990</strong></p>
                            <p><strong>Melbourne, Australia</strong></p>
                        </li>
                        
                        <section id="separation">
                        <li>
                            <span class="note">LinkedIn Profile</span>
                            <p><strong><a href="#">https://www.linkedin.com/markwilliamconnor</a></strong></p>
                        </li>
                        </section>
                    </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Profile -->

<!-- Work experience -->
<section id="work-experience" class="work-experience">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-briefcase"></span>{{tab_lang.experience_pro.title}}</li>
                    <li>
                        <!-- Ajouter les sites -->
						<p  class="date">{{tab_lang.experience_pro.dev_web_date}}</p>
                        <p><strong>{{tab_lang.experience_pro.dev_web_title}}</strong></p>
						
						<span class="note">{{tab_lang.experience_pro.dev_web_note}}</span>
                        <p class="description">{{tab_lang.experience_pro.dev_web_description}}</p>
                    </li>
                    <li>
						<p  class="date">{{tab_lang.experience_pro.dev_java1_date}}</p>
                        <p><strong>{{tab_lang.experience_pro.dev_java1_title}}</strong></p>
						<span class="note">{{tab_lang.experience_pro.dev_java1_note}}</span>
                        <p class="description" ng-bind-html="tab_lang.experience_pro.dev_java1_description"></p>
                    </li>
                    <section id="separation">
					<li>
						<p  class="date">{{tab_lang.experience_pro.dev_java2_date}}</p>
                        <p><strong>{{tab_lang.experience_pro.dev_java2_title}}</strong></p>
						<span class="note">{{tab_lang.experience_pro.dev_java2_note}}</span>
                        <p class="description" ng-bind-html="tab_lang.experience_pro.dev_java2_description"></p>
                    </li>
                    </section>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Work experience -->
    
<!-- Education -->
<section id="education" class="education">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-book"></span>{{tab_lang.forma_certif.title}}</li>
                    <li>
                        <p  class="date" ng-bind-html="tab_lang.forma_certif.master1_miage_date"></p>
                        <p><strong>{{tab_lang.forma_certif.master1_miage_title}}</strong></p>
						<span class="note">{{tab_lang.forma_certif.master1_miage_note}}</span>
                    </li>
                    <li>
                        <p  class="date">{{tab_lang.forma_certif.licence_miage_date}}</p>
                        <p><strong>{{tab_lang.forma_certif.licence_miage_title}}</strong></p>
						<span class="note" ng-bind-html="tab_lang.forma_certif.licence_miage_note"></span>
                        <p class="description"></p>
                    </li>
					<li>
                        <p  class="date">{{tab_lang.forma_certif.dut_date}}</p>
                        <p><strong>{{tab_lang.forma_certif.dut_title}}</strong></p>
						<span class="note">{{tab_lang.forma_certif.dut_note}}</span>
                    </li>
					<li>
                        <p  class="date">{{tab_lang.forma_certif.cisco_date}}</p>
                        <p><strong>{{tab_lang.forma_certif.cisco_title}}</strong></p>
						<span class="note"></i></span>
                        <p class="description"></p>
                    </li>
					<li>
                        <p  class="date">{{tab_lang.forma_certif.voltaire_date}}</p>
                        <p><strong>{{tab_lang.forma_certif.voltaire_title}}</strong></p>
						<span class="note"></i></span>
                        <p class="description"></p>
                    </li>
                    <section id="separation">
					<li>
                        <p  class="date">{{tab_lang.forma_certif.bac_date}}</p
                        <p><strong>{{tab_lang.forma_certif.bac_title}}</strong></p>
						<span class="note">{{tab_lang.forma_certif.bac_note}}</span>
                    </li>
                    </section>
					
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Education -->
 
<!-- Professional skills -->
<section id="professional-skills" class="professional-skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-tasks"></span>{{tab_lang.comp.title}}</li>
					
					<li>
                        <p><strong>{{tab_lang.comp.lang_prog}}</strong></p>
						<span class="note"></span>
						<p class="description">
							<span class="badge">Java</span>
							<span class="badge">HTML</span>
							<span class="badge">Javascript</span>
							<span class="badge">CSS</span>
							<span class="badge">JQuery</span>
							<span class="badge">Java EE</span>
							<span class="badge">PHP</span>
						</p>
                    </li>
					<li>
                        <p><strong>Framework</strong></p>
						<span class="note"></span>
						<p class="description">
							<span class="badge">JUnit 4</span>
							<span class="badge">Bootstrap</span>
							<span class="badge">AngularJS</span>
							<span class="badge">PhoneGap/Cordova</span>
						</p>
                    </li>
					<li>
                        <p><strong>{{tab_lang.comp.conception_gdp}}</strong></p>
						<span class="note"></span>
						<p class="description">
							<span class="badge">UML</span>
							<span class="badge">OCL</span>
							<span class="badge">{{tab_lang.comp.patrons}}</span>
							<span class="badge">Git</span>
							<span class="badge">SVN</span>
							<span class="badge">{{tab_lang.comp.test_u}}</span>
						</p>
                    </li>
					
					<section id="separation">
						<li>
							<p><strong>Design</strong></p>
							<span class="note"></span>
							<p class="description">
								<span class="badge">Photoshop</span>
								<span class="badge">Gimp</span>
							</p>
						</li>
					</section>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Professional skills -->
    
<!-- Personal skills -->
<section id="personal-skills" class="personal-skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-stats"></span>{{tab_lang.trav_pro.title}}</li>
                     <li>
                        <a target="navigateur" href="https://github.com/haxakl/RunBelievable">
                            <img src="./img/cordova.png" class="img-projet2">
                        </a>
                        <div class="description-projet">
                            <p><strong>{{tab_lang.trav_pro.run_title}}</strong></p>
                            <span class="note"></span>
                            <p class="description">
                                   {{tab_lang.trav_pro.run_description}}
                            </p>
                        </div>

                    </li>
					<li>
                        <a target="navigateur" href="http://miage.unice.fr/">
                            <img src="./img/site-miage.jpg" class="img-projet">
                        </a>
                        <div class="description-projet">
                            <p><strong>{{tab_lang.trav_pro.miage_title}}</strong></p>
                            <span class="note"></span>
                            <p class="description">
                                   {{tab_lang.trav_pro.miage_description}}
                            </p>
                        </div>

                    </li>

                    <section id="separation">
                    <li>
                        <a target="navigateur" href="http://votre-voyance-en-ligne.net/">
                            <img src="./img/site-voyance.jpg" class="img-projet">
                        </a>
                        <div class="description-projet">
                            <p><strong>{{tab_lang.trav_pro.voyance_title}}</strong></p>
                            <span class="note"></span>
                            <p class="description">
                                   {{tab_lang.trav_pro.voyance_description}}
                            </p>
                        </div>
                    </li>
                    </section>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Personal skills -->
    
<!-- Interests --><!--
<section id="interests" class="interests">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-heart-empty"></span>CENTRES D’INTERET</li>
                    <li>
                        <p><strong>Informatique</strong></p>
                        <p class="description">Passioné d'informatique, j'ai depuis mon enfance su que je travaillerai dans ce secteur.</p>
                    </li>
                    <li>
                        <p><strong>Musique</strong></p>
                        <p class="description">Je joue de la guitare depuis bientôt 4 ans.</p>
                    </li>
                    <section id="separation">
                        <li>
                            <p><strong>Basketball</strong></p>
                            <p class="description">Maecenas velit eros, congue quis accumsan sed, consequat id magna. Pellentesque at auctor lacus.</p>
                        </li>
                    </section>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Interests -->
    
<!-- Portfolio --><!--
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-eye-open"></span>Portfolio</li>
                    <li class="static">
					
                        <img src="img/1.jpg" alt="" data-toggle="modal" data-target="#modal1">
                        <img src="img/2.jpg" alt="" data-toggle="modal" data-target="#modal2">
                        <img src="img/3.jpg" alt="" data-toggle="modal" data-target="#modal3">
                        <img src="img/4.jpg" alt="" data-toggle="modal" data-target="#modal4">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Portfolio -->
    
<!-- Modal - photos in zoom-->
<!--
<div id="modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-box">
            <img src="img/1.jpg" alt="">
        </div>
    </div>
</div>
<div id="modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-box">
            <img src="img/2.jpg" alt="">
        </div>
    </div>
</div>
<div id="modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-box">
            <img src="img/3.jpg" alt="">
        </div>
    </div>
</div>
<div id="modal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-box">
            <img src="img/4.jpg" alt="">
        </div>
    </div>
</div>
<!-- end Modal - photos in zoom-->
    
<!-- Contact -->
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-envelope"></span>{{tab_lang.contact.title}}</li>
                    <section id="separation">
                    <li class="static">
                        <span class="note">Email</span>
                        <p><a href="mailto:steven.siddi@gmail.com" target="navigateur">
                        <strong>steven.siddi@gmail.com</strong></a>
                        </p>
                        <hr class="empty">
                        <form action="http://go3.nazwa.pl/resume-timeline/contact.php" method="post">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input name="yourname" type="text" class="form-control" id="inputname" placeholder="{{tab_lang.contact.nom}}">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input name="email" type="email" class="form-control" id="inputemail" placeholder="{{tab_lang.contact.email}}">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-bold"></span></span>
                                <input name="subject" type="text" class="form-control" id="inputsubject" placeholder="{{tab_lang.contact.sujet}}">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                                <textarea name="comments" class="form-control" id="inputmessage" rows="3" placeholder="{{tab_lang.contact.message}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-send"></span>{{tab_lang.contact.envoyer}}</button>
                        </form>
                    </li>
                    </section>
                    <li class="title up"><span class="glyphicon glyphicon-arrow-up"></span>{{tab_lang.haut.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Contact -->

<!-- Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-progressbar.js"></script>
<script src="js/spy.js"></script>
<script src="js/scripts.js"></script>
<!-- Charts -->
<script src="js/jquery.easypiechart.js"></script>
<script src="js/chart.js"></script>

</body>
</html>